### #Program to fetch the item only within range between 50 and 70

In [61]:
lst = [34,67,55,33,12,98]

In [62]:
for i in lst:
    if(50<i<70):
        print(i)

67
55

### #Program to print only String data type value from the given List

In [64]:
lst = ['abc', 100, 10.10, True, 'Babu']

In [65]:
for i in lst:
    if('str' in str(type(i))):
        print(i)

abc
Babu

### #Program to replace only String values as none

In [2]:
lst = ['abc', 100, 10.10, True, 'Babu']

In [3]:
lst1=[]
j=0
for i in lst:
    if('str' in str(type(i))):
        i = None
        lst1.insert(j,i)
    else:
        lst1.insert(j,i)
    j+1
print(lst1)

[None, True, 10.1, 100, None]

### #Program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number

In [4]:
lst=[]
tpl=()
for j in range(6):
    txt = input('Enter next value to insert: ')
    lst.insert(j,txt)
print(lst)
tpl = tuple(lst)
print(tpl)

Enter next value to insert: 34
Enter next value to insert: 67
Enter next value to insert: 55
Enter next value to insert: 33
Enter next value to insert: 12
Enter next value to insert: 98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### #Program to print the first half values in one line and the last half values in one line

In [12]:
lst = [1,2,3,4,5,6,7,8,9,10,11]

In [13]:
lst1=[]
lst2=[]
for i in lst:
    if(i<=5):
        lst1.append(i)
    else:
        lst2.append(i)
print(tuple(lst1))
print(tuple(lst2))

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10, 11)

### #Program to generate and print another tuple whose values are even numbers in the given tuple

In [7]:
tpl = (1,2,3,4,5,6,7,8,9,10)

In [8]:
lst = list(tpl)
lst1 = []
for i in lst:
    if(i%2==0):
        lst1.append(i)
print(tuple(lst1))

(2, 4, 6, 8, 10)

### #Program to generate square of each number

In [9]:
lst = [1,2,3,4,5,6,7]

In [11]:
lst1=[]
for i in lst:
    i = i*i
    lst1.append(i)
print(lst1)

[1, 4, 9, 16, 25, 36, 49]

### #Swappping the names

In [79]:
lst1 = ["Hello","Hi"]
lst2 = ["Divya","Sam"]

In [80]:
lst = []
intInsert = 0
for i in lst1:
    for j in lst2:
        txt1 = i +" "+ j
        lst.insert(intInsert,txt1)    
        intInsert =  intInsert + 1
print(lst)

['Hello Divya', 'Hello Sam', 'Hi Divya', 'Hi Sam']

### #Printing the numbers 1

In [120]:
for i in range(6):
    for j in range(i):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### #Printing the numbers 2

In [124]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### #Reverse a String

In [146]:
txt = input('Enter a value: ')
textValue = ""
for i in txt:
    textValue = i + textValue
print(textValue)

Enter a value: Testing
gnitseT

### #concatenate 2 lists with index

In [166]:
lst = []
lst1 = ["Wel","t","Py","Wor"]
lst2 = ["come","o","thon","ld"]
    
intInsert = 0
for i in lst1:
    for j in lst2:
        if(lst1.index(i) == lst2.index(j)):
            txt1 = i + j
            lst.insert(intInsert,txt1)    
            intInsert =  intInsert + 1
print(lst)

['Welcome', 'to', 'Python', 'World']